*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* ----------------------------------------------------HEADER---------------------------------------------------- */

.topo{
    width: 100%;
    position: fixed;
}

header{
    width: 100%;
    height: 100%;
    display: flex;
    background: white;
    box-shadow: 0 0px 32px 0 rgba(0, 0, 0, 0.2), 0 0px 40px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
    /* z-index: 1;   perguntar o pq n.. */
    position:relative; 
}

.logo-escrito{
    display: none;
    width: 100%;
    height: 100%;
}

.logo-img{
    width: 4.5em;
    height: 4.5em;
    margin-left: 25%;
    padding: 0.3em;
}

.menu{
    width: 100%;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3em;
}

.menu ul {
    width: 50%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.menu li a {
    color: #000;
    text-decoration: none;
    font-size: 1em;
}

.menu li a:active{
    padding-bottom: 0.3em;
    border-bottom: 0.3px solid rgba(12, 13, 14, 0.5);
}

.menu li a:hover{

    font-weight: bold;
}

.toggle {
    color: #555;
    display: none;
    margin-left: 0.7em;
}

.active{
    display: flex;
}
/* ----------------------------------------------------MAIN---------------------------------------------------- */

main{
    padding-top: 8em;
    padding-bottom: 3em;

    display: grid;
    grid-template-areas:"h1"
                        "email"
                        "tel"
                        "rs"
                        "ende"
}

main h1{
    grid-area: h1;
    text-align: center;
}

#èmail{
    grid-area: email;
}
#tel{
    grid-area: tel;
}
#rs{
    grid-area: rs;
}
#rs::after{
    content: url('../Imagens/redessociaispreto.png');
    padding-left: 1em;
    color: #000;
}
#inf{
    grid-area: inf;
    color: #777;
}

#ende{
    grid-area: ende;
}

.sombra{
    box-shadow: 4px 3px 12px rgba(0, 0, 0, 0.200);
    border-radius: 1%;
}

.contatodiv{
    margin: 5%;
}

main p{
    padding: 2%;
}







.contatodiv2{
    background-color: #f2f2f2;
    margin: 5%;
    padding-left: 5%;
    padding-right: 5%;

}

.contatodiv2 h2{
    padding-top: 3%;
    text-align: center;
}

.input-text{
    margin: 1%;
    border: none;
    padding: 1%;
    border-radius: 3px;
    width: 25%;
}

textarea{
    margin:3%;
    border: none;
    padding: 1%;
    border-radius: 3px;
    resize: none;
    width: 100%;
    height: 150px;
}
main label{
    font-size: 12px;
    padding: 1%;
    width: 100%;
    height: 100%;
    font-weight: 600;
    margin: 1%;
}

.contatodiv2 form{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
.fa-paper-plane{
    padding-right: 1em;
}

.fa-paper-plane:active{
    color: #00b9de;
}

.fa-paper-plane:hover{
    color: #00b9de;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bfbfbf;
}

.btn{
    border-radius: 10px;
    padding: 1%;
    background-color: #00b9de;
    color: #fff;
    border: none;
    box-shadow: 3px 3px 6px  rgba(0, 0, 0, 0.2), 0 0px 40px  rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 25%;
    justify-self: start;

}
.btn:active {
    background-color: white;
    border: #00b9de;
    box-shadow: 3px 3px 6px  rgba(0, 0, 0, 0.2), 0 0px 40px  rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }

.btn:hover {
    background-color: white;
    border:  2px solid #00b9de;
    box-shadow: 3px 3px 6px  rgba(0, 0, 0, 0.2), 0 0px 40px  rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    color: #00b9de;
    font-weight: 600;
  }
.btn:focus {outline:0;}

/* -------------------------------------------CHAT---------------------------------------------------- */


/* ----------------------------------------------------FOOTER---------------------------------------------------- */


footer{
    margin-top: 2em;
    /* width: 100%;
    height: 100%; */
    background: #000;
    display: grid;
    /* grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;  */
    /* grid-template: auto; */
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, auto); 
    grid-gap: 0.5em;
}

.logotipo-footer{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    /* padding: 3em; */
}
.logotipo-footer img{
    width: 100%;
    height: 100%;
    padding: 3em;
}

.footer-item1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1em;
    color: white;
}
.footer-item2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1em;
    color: white;
}
.footer-item3{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1em;
    color: white;
}

.footer-item1, .footer-item2, .footer-item3{
    margin-top: 2em;
}

footer a{
    text-decoration: none;
    color: white;
}

footer ul{
    list-style-type: square;
    padding: 1em;
}

footer li{
    padding: 0.5em;
}

.redes-sociais{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-content: start;
    align-self: center;
}

.footer-final{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    color: white;
    text-align: center;
    padding: 1em;
}
.bandeirinha::before{
    content: url('../Imagens/bandeira.png');
    padding: 1em;
}

/* ----------------------------------------------------BREAKPOINT---------------------------------------------------- */


@media all and (max-width:480px){

    .topo{
    width: 100%;
    position: fixed;
    z-index: 1;
    }

    .toggle{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    margin-top: 0.6rem;
    }

    .menu{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .menu ul{
        flex-direction: column;
        display: none;
        width: 100%;
        height: 100%;
        padding: 0.5em;
    }

    .menu li{
        display: flex;
        justify-content: center;
        padding: 0.3em;
        background-color: #f1f1f1;
        border-left: #777 solid 4px;
        margin: 0.5em 1em 0.1em 1em;
    }
    .menu li a{
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .menu ul.active{
        display: flex;
        width: 115%;
        margin-right: 2em;
    }

    .logo-img{
        display: none;
    }

    .menu .logo-escrito{
        display: flex;
        justify-content: center;
        font-size: 18pt;
        font-weight: 800;
        text-decoration:none; 
        color: #000;
        height: 30px;
    }

    .fa-bars{
        font-size: 1em;
    }

    .fa-times{
        font-size: 1.1em;
        height: 200px;
        transition: 0.1s;
        position: static;
    }
    .menu li a:active{
        width: 100%;
        height: 100%;
        background: #333;
        color: white;
        text-align: center;
        padding: 0.5em;
    }

    /* ----------------------------------------------------FOOTER------------------------------------------------------- */

    footer{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
    }
    .logotipo-footer{
        display: none;
    }
    .redes-sociais{
        display: none;
    }
    .footer-item1{
        grid-row: 1/2;
        grid-column: 1/2;
        justify-self: center;
    }

    .footer-item2{
        grid-row: 2/3;
        grid-column: 1/2;
        justify-self: center;
        display: none;
    }

    .footer-item3{
        grid-row: 3/4;
        grid-column: 1/2;
        justify-self: center;
        display: none;
    }

    .footer-final{
        grid-row: 4/5;
        grid-column: 1/2;
        /* display: none; */
        justify-self: center;
    }
    .footer-final p{
        font-size: 10px;
    }
    
    .chat{
        display: none;
    }

    /* --------------------------------------------------MAIN----------------------------------------------- */

    .input-text{
        width: 65%;
        padding: 5%;
    }
    .fa-paper-plane{
        margin-right: 5%;
    }
    .btn{
        width: 50%;
        text-align: center;
        padding: 5%;
    }
    .contatodiv2 h2 {padding-bottom: 3%;}
}

/* --------------------------------------------------------Breakpoint tablet------------------------------------------------------- */


@media all and (max-width:768px) and (min-width:480px){
    .menu li a {
        margin: 0.5em;
    }
    .input-text {
        width: 65%;
        padding: 3%;
    }
    .chat{
        display: none;
    }
    footer{
        grid-template-columns:  auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    }
    .logotipo-footer{
        display: none;
    }
    /* .redes-sociais{
        display: none;
    } */
    .footer-item1{
        grid-row: 1/2;
        grid-column: 1/2;
        justify-self: center;
    }

    .footer-item2{
        grid-row: 1/2;
        grid-column: 2/3;
        justify-self: center;

    }

    .footer-item3{
        grid-row: 1/2;
        grid-column: 3/4;
        justify-self: center;

    }

    .footer-final{
        grid-row: 4/5;
        grid-column: 1/4;
        /* display: none; */
        justify-self: center;
    }

    .footer-final p{
        font-size: 10px;
    }
    .redes-sociais{
        display: none;
    }

}